server:
        host : 
        port : 
        ssl  : 
        pass : 
nick : 
nickPass : 
mask : 
ident : 
userMode : 
channels:
        - 
highlightChar : 
authList:
        - 
botLog:
        defaultFormat   : 
        critLog         : 
        critLogPath     : 
        critLogFormat   : 
        errLog          : 
        errLogPath      : 
        errLogFormat    : 
        warnLog         : 
        warnLogPath     : 
        warnLogFormat   : 
        infoLog         : 
        infoLogPath     : 
        infoLogFormat   : 
        debugLog        : 
        debugLogPath    : 
        debugLogFormat  : 
ircLog:
        log0:
                botLogName      : 
                logRoot         : 
                serverLogFile   : 
                socketLogFile   : 
                channelLogDir   : 
                timeStampFormat : 
                messageFormat   : 